<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="/static/CSS/style.css">
    </head>
    <body>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/testimonies">Testimonies</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
        <h1>About Us</h1>
        <p>This page contains information about our Flask project.</p>
        <p>We aim to build simple and efficient web applications.</p>

    </body>