<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/static/CSS/style.css">

    </head>
    <body>
        <ul class="navbar">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/testimonies">Testimonies</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        </ul> 


            <h1 class="homepic">Welcome To Thames Tech Trail</h1>









    </body>
</html>
